.mainMenu {
    color: black;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    height: 500px;
    border: 1px solid black;
    width: 380px;
}

a {
    color: black;
    font-size: 35pt;
    list-style: none;
    text-decoration: none;
    font-family: omnes-pro;
    border: 1px solid black;
}

span {
    color: blue;
}

.socialMedia {
    border: 1px solid black;
    padding: 200px 0px 0px 20px;
    height: 160px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-start;
    align-items: center;
    align-content: space-between;
}


