body {
    max-width: 900px;
    max-height: 900px;
    min-width: 400px;
    min-height: 600px;
}

.mainMenu {
    color: black;
    background: white;
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: center; 
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    height: 420px;
    width: 360px;
}

a {
    color: black;
    font-size: 32pt;
    list-style: none;
    text-decoration: none;
    font-family: omnes-pro;
    flex-wrap: wrap;
    flex-direction: column;
}

span {
    color: #00a0df;
}

.socialMedia {
    background: #00a0df;
    padding: 160px 0px 40px 0px;
    height: 160px;
    width: 400px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    align-items: flex-start;
    align-items: center;
}


